.card-box {
  width: 500px;
  border: 0.5px solid #ced4da;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 20px;
  margin: 7px 0;
}

.row-1,
.row-2 {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.row-3 {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.row-1 h1,
.row-2 h1,
.row-3 h1 {
  margin-right: 12px;
}

h1 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

h2 {
  font-size: 18px;
  line-height: 21px;
}
